{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container card mb-2 mt-2 p-4">
    <div class="row">
        <div class="col">
            <h4 class="logo-font mb-2 mt-2">Shopping Bag</h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless table-hover">
                    <thead class="text-black">
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" width='100px' src="{{ item.product.featured_photo.url }}">
                        </td>
                        <td class="py-5">
                            <p class="my-0"><strong>{{ item.product.title }}</strong></p>
                        </td>
                        <td class="py-5">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                        <td class="py-5 w-25">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td>
                        <td class="py-5">
                            <p class="my-0">${{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="text-right">
                    <h4 class="mt-4"><strong>Total: ${{ total|floatformat:2 }}</strong></h4>
                    <a href="/" class="btn btn-outline-secondary btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">BACK TO PRODUCTS</span>
                    </a>
                    <a href="{% url 'checkout' %}" class="btn btn-secondary btn-lg">
                        <span class="text-uppercase">Secure Checkout</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </a>
                </div>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            <a href="{% url 'products_url' %}" class="btn btn-outline-secondary btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}