body {
    -webkit-font-smoothing: auto;
    background-color: #F0F0F0;
}

#mc_embed_signup {
    background: #fff;
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

.jumbotron {
    height: 265px;
    background-image: url(https://my.imimg.com/gifs-new/headerbg03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Slider Section */

.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
    animation-name: hero-animitaion;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes hero-animitaion {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.slider p {
    font-size: 45px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.slider_desc {
    position: absolute;
    top: 400px;
    text-align: center;
    right: 100px;
}

/*search box css start here*/
.search-sec {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.search-slt {
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

.wrn-btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
}

@media (min-width: 992px) {
    /* .search-sec { */
        /* background: rgba(26, 70, 104, 0.51); */
    /* } */
}

/* @media (max-width: 992px) { */
    /* .search-sec { */
        /* background: #1A4668; */
    /* } */
/* } */
.carousel-caption{
    bottom: 20% !important;
}

/* End Slider Section */

#signup_form input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid gray;
}

#login_form input {
    width: 100%;
    border-radius: 5px;
    padding: 10px 30px;
    border: 1px solid gray;
}
