{% extends 'base.html' %}

<!-- Page Header -->
<!-- Page Header -->
{% block page_header %}
{% include 'components/page_header.html' %}
{% endblock page_header %}


{% block content %}
<!-- About Us Content -->
<div class="container-fluid">
    <div class=" mt-4 bg-white mb-4 rounded p-5 row ml-1 mr-1">
        <div class="col-md-12 mb-3">
            <h2>More About Us</h2>
            <p>
                🌟 Welcome to Afghan Online Shopping Center! 🌟

                Step into a world of convenience and endless possibilities as you embark on your online shopping journey
                with us. At Afghan Online Shopping Center, we strive to bring the best of Afghanistan's diverse
                marketplace right to your fingertips.

                From the comfort of your own home, you can browse through a wide array of products spanning various
                categories, including fashion, electronics, home goods, beauty essentials, and so much more. Whether
                you're searching for traditional Afghan attire, the latest gadgets, or unique handmade crafts, we've got
                you covered.

                Our user-friendly platform makes it easy to navigate through our extensive selection, find exactly what
                you're looking for, and complete your purchase with just a few clicks. Plus, with secure payment options
                and swift delivery services, you can shop with confidence and peace of mind.

                Join us in embracing the convenience and excitement of online shopping, while still experiencing the
                warmth and hospitality of Afghan culture. At Afghan Online Shopping Center, your satisfaction is our top
                priority, and we're committed to providing you with a seamless and enjoyable shopping experience every
                step of the way.

                Discover the joy of shopping from the comfort of your own home with Afghan Online Shopping Center. Start
                exploring today and let the adventure begin! 🛍️✨
                At Afghan Shopping Center, we pride ourselves on offering an extensive range of high-quality goods, from
                traditional Afghan handicrafts to modern fashion trends, electronics, home decor, and so much more. Our
                friendly staff is always on hand to assist you with any questions or special requests, ensuring that
                your shopping journey is nothing short of delightful.
            </p>
        </div>
        <div class="col-md-6">
            <h2> Our Mission</h2>
            <p>We aim to provide a seamless and enjoyable online shopping experience for our customers. Offering a wide
                range of high-quality products and ensuring prompt and reliable delivery.</p>
        </div>
        <div class="col-md-6">
            <h2>Why Choose Us?</h2>
            <p>At Your Online Shop, we prioritize customer satisfaction. Here are some reasons to choose us:</p>
            <ul>
                <li>Extensive Product Selection</li>
                <li>Secure and Easy Transactions</li>
                <li>Fast and Reliable Shipping</li>
                <li>Responsive Customer Support</li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}