{% extends "base.html" %}
{% block content %}

<!-- Image Slider -->
<div id="homeSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://my.imimg.com/gifs-new/headerbg03.jpg" class="d-block w-100"
                alt="Afghan Store, Online Store, B2C">
            <div class="carousel-caption d-none d-md-block">
                <form class="form-group" method="GET" action="#">
                    <select class="form-control" name="category" id="category">
                        <option value="">Select Category</option>
                        {% for cat in categories %}
                        <option value="{{ cat.id }}">{{ cat.title }}</option>
                        {% endfor %}
                    </select>
                    <input class="form-control" type="search" placeholder="Search..." aria-label="Search" name="q">
                    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <h1 class="display-4 text-white"> <Strong> Shop Now </Strong></h1>
                <h5>Empowering Businesses, Fueling Success.</h5>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <div class="row">
                {% for pro in products %}
                <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 my-2">
                    <div class="card">
                        {% if "placeholder" in pro.featured_photo.url %}
                        <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                            alt="Afghan Store, Online Store, B2C">
                        {% else %}
                        <img style="width: 100%;object-fit: contain;" src=" {{ pro.featured_photo.url }}"
                            alt="Afghan Store, Online Store, B2C">
                        {% endif %}
                        <div class="card-body">
                            <h6 class="card-title">{{pro.title}}</h6>
                            <p class="card-content text-primary">{{pro.category.title}}</p>
                            <a href="{% url 'product_details_url' pro.id %}"
                                class="btn btn-sm btn-outline-secondary">More Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="mt-5">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{%endblock%}