{% extends 'base.html' %}


{% block content %}
{% if product_list %}
<!-- Products -->
<section>
    <div class="container-fluid my-3">
        <div class="card p-3 shadow-2-strong">
            <header class="mb-4">
                <h3>Wishlist</h3>
            </header>
            <div class="row">
                {% include 'components/products.html' %}
            </div>
        </div>
    </div>
</section>
<!-- Products -->
{% else %}
    {% include 'components/no_data.html' %}
{% endif %}

{% endblock content %}