{% load static %}
<!-- Footer -->
<footer class="text-center text-lg-start text-muted bg-primary mt-3 pt-5">
    <div class="row text-center mt-5 mb-3">
        <div class="col-lg-12 col-sm-12 col-12 text-center">
            <a href="/" class="float-start">
                <img src="https://res.cloudinary.com/dijdx1fv1/image/upload/v1713454401/m5idy3yarias2mj4p7wz.png" alt="logo" height="80" style="border-radius: 50px;">
            </a>
        </div>
    </div>
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start pt-4 pb-4">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-12 col-lg-4 col-sm-12 mb-2">
                    <!-- Content -->
                    <h3 class="text-white">

                        Contact Us
                    </h3>
                    <p class="mt-1 text-white">info@b2c.com</p>
                    <p class="text-white">+353 899 537 733</p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-6 col-sm-4 col-lg-4">

                    <p class="text-white">Made with ❤️ by Rohullah Ahmadyar</p>
                    <p class="social-icons text-white ">
                        Follow us:
                        <a href="https://www.facebook.com/profile.php?id=61557031890007" rel="noopener"
                            class="social-icon text-white"><i class="fab fa-facebook-square"></i> Facebook</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-12 col-sm-12 col-lg-4">
                    <div id="mc_embed_shell">
                        <div id="mc_embed_signup">
                            <form
                                action="https://herokuapp.us18.list-manage.com/subscribe/post?u=03209decc7a097c3cae15ae22&amp;id=44939ee60a&amp;f_id=004023e7f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="validate" target="_blank">
                                <div id="mc_embed_signup_scroll">
                                    <h2 class="text-white">Subscribe</h2>
                                    <div class="mc-field-group">
                                        <label for="mce-EMAIL" class="text-white">Email Address
                                            <span class="asterisk">*</span>
                                        </label>
                                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL"
                                            required="" value="">
                                    </div>
                                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                        <input type="text" name="b_03209decc7a097c3cae15ae22_44939ee60a" tabindex="-1"
                                            value="">
                                    </div>
                                    <div class="optionalParent">
                                        <div class="clear foot">
                                            <input type="submit" name="subscribe" id="mc-embedded-subscribe"
                                                class="button" value="Subscribe">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->
</footer>
<!-- Footer -->