<footer class="footer mt-auto py-4 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Email: info@b2c.com</p>
                <p>Phone: +353 899 537 733</p>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <p class="m-0">Made with ❤️ by Rohullah Ahmadyar</p>
                    <p class="m-0 social-icons">
                        Follow us:
                        <a href="https://www.facebook.com/profile.php?id=61557031890007" rel="noopener"
                            class="social-icon"><i class="fab fa-facebook-square"></i> Facebook</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us18.list-manage.com/subscribe/post?u=03209decc7a097c3cae15ae22&amp;id=44939ee60a&amp;f_id=004023e7f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe</h2>
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address
                                        <span class="asterisk">*</span>
                                    </label>
                                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required=""
                                        value="">
                                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_03209decc7a097c3cae15ae22_44939ee60a" tabindex="-1"
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                            value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>