{% if is_paginated %}
<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="btn btn-primary col-md-1"><a href="?page={{ page_obj.previous_page_number }}"
                class="text-white">&laquo; PREV </a></li>
        {% else %}
        <li class="btn btn-secondary col-md-1"><a href="#" class="text-white">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="btn btn-primary col-md-1 ml-1"><a href="?page={{ page_obj.next_page_number }}" class="text-white">
                NEXT &raquo;</a></li>
        {% else %}
        <li class="btn btn-secondary col-md-1 ml-1"><a href="#" class="text-white">NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}