<section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://pbs.twimg.com/media/EGHYvttU4AAYKb7?format=jpg&name=large" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <a class="btn btn-lg  btn-primary mb-4" href="{% url 'products_url' %}" > Shop Now </a>
                    <h5>Empowering Businesses, Fueling Success.</h5>
                </div>
            </div>
        </div>
    </div>
</section>